body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 15px;
}

.filter-mod {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1rem;
    align-content: left;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.row2 {
    margin-top: 0.5rem;
}

.main-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

select,
input[type="date"],
input[type="text"] {
    width: 50%;
    padding: 6px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 0.4em 1em;
    border: 1px solid #999;
    background-color: #eee;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
}

button:hover {
    background-color: #ddd;
}

#summary-table,
#selection-table {
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #ffffff;
    margin-top: 1rem;
}

/* Optional: control column alignment if overflow occurs */
#summary-table td,
#selection-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#summary-table th,
#summary-table td,
#selection-table th,
#selection-table td {
    padding: 8px 10px;
    border: 1px solid #ccc;
    text-align: center;
}

#select-all-summary,
#select-all-selection,
.row-checkbox {
    transform: scale(1.5);
    margin: 4px;
    cursor: pointer;
}

.button-mod {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Light Theme */
body.light-theme {
    background-color: #ffffff;
    color: #222222;
}

/* Dark Theme */
body.dark-theme {
    background-color: #1a1a1a;
    color: #f0f0f0
}
